{% if include.no_version == false or include.has_version == true or include.nav_items != nil %}

{% if include.is_latest %}
  {% assign version = 'latest' %}
{% else %}
  {% assign version = include.kong_version %}
{% endif %}

<aside class="docs-sidebar">
  <i class="fa fa-times close-sidebar"></i>

  <div class="sidebar-title-container">
    <div class="docsets-dropdown dropdown">
      <button class="dropdown-button" id="module-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">
        <span>
          {% if include.edition == 'enterprise' %}{{site.ee_product_name}}
          {% elsif include.edition == 'konnect' %}{{site.konnect_saas}}
          {% elsif include.edition == 'konnect-platform' %}{{site.konnect_product_name}} Platform
          {% elsif include.edition == 'mesh' %}{{site.mesh_product_name}}
          {% elsif include.edition == 'deck' %}decK
          {% elsif include.edition == 'kubernetes-ingress-controller' %}{{site.kic_product_name}}
          {% elsif include.edition == 'gateway-oss' %}{{site.ce_product_name}}
          {% elsif include.edition == 'gateway' %}{{site.base_gateway}}
          {% elsif include.edition == 'getting-started-guide' %}Get Started with Kong Gateway
          {% elsif include.edition == 'contributing' %}Contribution guidelines
          {% endif %}
        </span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right with-submenu" id="module-list" role="menu" aria-labelledby="module-dropdown" aria-hidden="true">

        <li role="menuitem" tabindex="-1" {% if include.edition == 'gateway' or include.edition == 'gateway-oss' or include.edition == 'enterprise' %}class="active"{% endif %}>
          <a href="/gateway/" {% if include.edition == 'gateway' %}class="active"{% endif %}>Kong Gateway</a>
        </li>
        <li role="menuitem" tabindex="-1" {% if include.edition == 'konnect' %} class="active"{% endif %}>
          <a href="/konnect/" {% if include.edition == 'konnect' %}class="active"{% endif %}>Konnect Cloud</a>
        </li>
        <li role="menuitem" tabindex="-1" {% if include.edition == 'mesh' %} class="active"{% endif %}>
          <a href="/mesh/" {% if include.edition == 'mesh' %}class="active"{% endif %}>Kong Mesh</a>
        </li>
        <li role="menuitem" tabindex="-1">
          <a href="/hub/">Plugin Hub</a>
        </li>
        <li role="menuitem" tabindex="-1" {% if include.edition == 'deck' %} class="active"{% endif %}>
          <a href="/deck/" {% if include.edition == 'deck' %}class="active"{% endif %}>decK</a>
        </li>
        <li role="menuitem" tabindex="-1" {% if include.edition == 'kubernetes-ingress-controller' %} class="active"{% endif %}" >
          <a href="/kubernetes-ingress-controller/" {% if include.edition == 'kubernetes-ingress-controller' %}class="active"{% endif %}>Kubernetes Ingress Controller</a>
        </li>
        <li>
          <a href="https://docs.insomnia.rest/" target="_blank">Insomnia</a>
        </li>
        <li role="menuitem" tabindex="-1">
          <a href="https://kuma.io/docs/" target="_blank">Kuma</a>
        </li>
        <hr>
        <li role="menuitem" tabindex="-1" {% if include.edition == 'konnect_platform' %} class="active"{% endif %}>
          <a href="/konnect-platform/" {% if include.edition == 'konnect_platform' %}class="active"{% endif %}>Kong Konnect Platform</a>
        </li>
        <hr>
        <li role="menuitem" tabindex="-1" {% if include.edition == 'contributing' %} class="active"{% endif %}>
          <a href="/contributing/" {% if include.edition == 'contributing' %}class="active"{% endif %}>Docs contribution guidelines</a>
        </li>
      </ul>
    </div>

    {% unless include.no_version == true %}
      {% include_cached sidebar-version-select.html
           kong_version=include.kong_version
           kong_versions=include.kong_versions
           kong_latest=include.kong_latest
           edition = include.edition
           %}
    {% endunless %}
  </div>

  {% assign docs_url = '/' | append: include.edition | append : '/' %}

  {% unless include.edition == 'contributing' || include.edition == 'konnect' %}
  {% assign docs_url = docs_url | append: version %}
  {% endunless %}

  <ul class="accordion-container">
    <input id="accordion-opened" type="text" />
    {% for nav in include.nav_items %}
    {% include_cached docs-sidebar-item.html id=forloop.index docs_url=docs_url items=nav.items url=nav.url absolute_url=nav.absolute_url target=item.target icon=nav.icon title=nav.title %}
    {% endfor %}
  </ul>
</aside>

{% endif %}
