<div class="versions-dropdown dropdown">
  <button class="dropdown-button" id="version-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">
    <span>
          Version {{include.kong_version}}
      {% if include.kong_version == include.kong_latest.release and include.edition != 'gateway-oss' and include.edition != 'enterprise' and include.edition != 'getting-started-guide' %}
        <span>(latest)</span>
      {% endif %}
    </span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" id="version-list" role="menu" aria-labelledby="version-dropdown" aria-hidden="true">
    {% if include.edition == 'gateway-oss' or include.edition == 'enterprise' or include.edition == 'getting-started-guide' %}
      <li role="menuitem" tabindex="-1">
        <a href="/gateway/">
            Later versions (Enterprise and OSS)
          </a>
      </li>
    {% endif %}
    {% for ver in include.kong_versions reversed %}
      {% assign release_segment = '/' | append: ver.release | append : '/' %}
      {% assign version_page_url = include.url | replace: include.kong_version,
      ver.release | replace : '/latest/',
      release_segment %}
      {% unless version_page_url contains ver.release %}
        {% assign version_page_url = version_page_url | append: release_segment %}
      {% endunless %}
      {% capture version_page_exists %}{% page_exists {{version_page_url}} %}
      {% endcapture %}
      <li {% if include.kong_version==ver.release %}class="active" {% endif %} role="menuitem" tabindex="-1">
        <a href="{% if version_page_exists == 'true' %}{{version_page_url}}{% else %}/{% if include.edition == 'gateway-oss' %}gateway-oss/{% endif %}{% if include.edition == 'enterprise' %}enterprise/{% endif %}{% if include.edition == 'gateway' %}gateway/{% endif %}{% if include.edition == 'mesh' %}mesh/{% endif %}{% if include.edition == 'kubernetes-ingress-controller' %}kubernetes-ingress-controller/{% endif %}{% if include.edition == 'contributing' %}contributing/{% endif %}{% if include.edition == 'deck' %}deck/{% endif %}{{ver.release}}{% endif %}"
            {% if ver.release==include.kong_version %} class="active" {% endif %}
            data-version-id="{{ver.release}}"
          >
          {{ver.release}}
          {% if ver.release == include.kong_latest.release and include.edition != 'enterprise' and include.edition != 'gateway-oss' and include.edition != 'getting-started-guide' %}
            <em>(latest)</em>
          {% endif %}
        </a>
      </li>
    {% endfor %}
    {% if include.edition == 'gateway' %}
      <li role="menuitem" tabindex="-1">
        <a href="/enterprise/2.5.x/">
            Older Enterprise versions (0.31-2.5)
          </a>
      </li>
      <li role="menuitem" tabindex="-1">
        <a href="/gateway-oss/2.5.x/">
            Older OSS versions (0.13-2.5)
          </a>
      </li>
    {% endif %}

    {% if include.edition == 'gateway-oss' or include.edition == 'gateway' %}
      <li role="menuitem" tabindex="-1">
        <a href="https://github.com/Kong/docs.konghq.com/tree/main/archive/gateway-oss/">
            Archive (pre-0.13)
          </a>
      </li>
    {% endif %}
  </ul>
</div>